{% extends 'base.html.twig' %}

{% block title %}Hello Login!{% endblock %}

{% block body %}

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <h1 class="text-center">Login</h1>

    <form action="{{ path('security_login') }}" method="post">
        <label for="email">Username:</label>
        <input type="text" id="email" name="_username" value="{{ last_email }}" />

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password" />

        {#
            If you want to control the URL the user
            is redirected to on success (more details below)
            <input type="hidden" name="_target_path" value="/account" />
        #}

        <button type="submit">login</button>
    </form>

{% endblock %}