<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">home</a>
        <a class="btn btn-primary" href="{{ path('security_add_user') }}" role="button">Signin</a>
        <a class="btn btn-primary" href="{{ path('security_login') }}" role="button">Login</a>
        <a class="btn btn-primary" href="{{ path('security_add_annonce') }}" role="button">Add Annonce</a>
        <a class="btn btn-primary" href="{{ path('security_logout') }}" role="button">Logout</a>
    </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
